
#nav-bar-user {
    display: flex;
    align-items: baseline;
    gap: 55%;
    padding: 13px 0px 20px 80px;
    background-color: #8b008b; /* Purple background color */
}

.nav-logo span {
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold; /* Make the text bold */
    color: #ffcc00; /* Shining yellow color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow for a shining effect */
}

.nav-links a {
    padding: 20px;
    text-decoration: none;
    color: #ffffff; /* White text color */
}

.nav-links a:hover {
    color: #8b008b; /* Purple text color on hover */
    background-color: rgba(139, 0, 139, 0.1); /* Light purple with reduced opacity */
}

.nav-links .logout {
    color: #ffffff; /* White text color for logout */
    text-decoration: none;
    border: none; /* Remove the border */
}

.nav-links .logout:hover {
    color: #8b008b; /* Purple text color on hover */
    background-color: transparent; /* No background color on hover */
}