#signup-box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signup-box {
    padding: 50px 80px;
    width: 60%;
    height: 100vh;
    background-color: #ffffff; /* White background */
    font-family: 'Great Vibes', cursive; /* Apply custom font */
    color: #6e0f7c; /* Purple text color */
    border: none; /* Remove border */
  }
  
  .signup-box .inp {
    width: 100%;
  }
  
  .ask {
    text-align: center;
  }
  
  #login-button {
    background-color: #6e0f7c; /* Purple */
    color: #ffffff; /* White text color */
  }
  